:root {
  --very-subtle: rgba(0, 0, 0, .05);
  --subtle-yellow1: rgba(239, 187, 53, 0.6);
  --yellow: #fae042;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.2;
  font-weight: 300;
  color: #F9FFEE;
  max-width: 45rem;
  padding: 2rem;
  margin: auto;
  background: #222831;
}

h1,
h2,
strong {
  font-size: 3.7em;
  margin-top: .4em;
  margin-bottom: .2em;
  color: var(--yellow);
}

header {
  text-align: center;
}

p {
  font-size: 24px;
}

.time-left {
  font-size: 10rem;
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Console", Monaco, monospace;
}

.app-container {
  padding-top: 2rem;
}

.app-actions {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.app-actions:nth-child(1){
  margin:20px;
}

.app-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.session-info, .app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  border-radius: 3px;
  margin: 2rem 0;
  font-family: monospace;
  padding: 2rem 2rem 2rem 2rem;
  background: repeating-linear-gradient(45deg, transparent, transparent 25px, var(--very-subtle) 25px, var(--very-subtle) 50px);
  border: 5px solid var(--subtle-yellow1);
  border-image-source: linear-gradient(45deg, #fae042, #fae042);
  border-image-slice: 1;
}

.break-controls, .session-controls {

}

.btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    border: 2px solid #9b9b9b;
    background-color: #fff;
    padding: 5px 11px;
    color: #4c4c4c;
    text-decoration: none;
}